@font-face {
    font-family: 'padrao';
    src: url('fonts/Poppins/Poppins-Medium.ttf');
}

:root {
    --fonte-padrao: 'padrao', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    background-color: #F2EBF9;
}

header {
    height: 240px;
    background-color: #693AB7;
}

.container {
    width: 1000px;
    margin: auto;
    padding: 30px;
    margin-top: -68px;
    background-color: white;
}

.section {
    padding: 0px 20px;
}

.form-titulo {
    border-bottom: 1px solid #8f8f8f;
    margin-bottom: 30px;
}

.form-titulo p {
    display: block;
    margin: auto;
    line-height: 10px;
    height: 35px;
    text-align: center;
    width: 120px;
    color: #693AB7;
    font-size: 1.1rem;
    border-bottom: 2px solid #693AB7;
}

.titulo-subtitulo {
    margin-bottom: 25px;
}

.titulo-subtitulo h1 {
    color: rgb(49, 49, 49);
    margin-bottom: 10px;
}

.titulo-subtitulo p {
    color: rgb(49, 49, 49);
}

label {
    color: rgb(49, 49, 49);
}

.input-box {
    display: block;
    width: 370px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    border: none;
    border-bottom: 1px solid rgb(61, 61, 61);
    font-family: var(--fonte-padrao);
}

.inputs #preco::-webkit-inner-spin-button,
.inputs #preco::-webkit-outer-spin-button {
    appearance: none;
}

.input-box:focus {
    outline: none;
}

.input-desc {
    display: block;
    width: 370px;
    height: 130px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 0.9rem;
    font-family: var(--fonte-padrao);
}

.cambio-radio {
    margin-bottom: 25px;
}

.cambio-radio p {
    margin-bottom: 5px;
}

.opcionais-check p {
    margin-bottom: 5px;
}

li {
    list-style: none;
    margin-bottom: 5px;
}

ul {
    columns: 2;
    margin-bottom: 25px;
}

.fotos p {
    margin-bottom: 5px;
}

.button {
    margin: 10px 0px;
    padding: 22px 45px;
    border: none;
    background-color: #693AB7;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #4c2983;
    transition: 0.4s;
}

/******************** Media Queries *********************/

@media screen and (max-width: 1040px) {

    header {
        height: 200px;
    }

    .container {
        width: 95vw;
    }

}

@media screen and (max-width: 485px) {

    .container {
        width: 100vw;
    }

    .section {
        padding: 0px;
    }

    .input-box {
        width: 80vw;
    }

    .input-desc {
        width: 80vw;
    }

    ul {
        columns: 1;
        margin-bottom: 25px;
    }

}